h2, h3
{
  font-family: 'Gill Sans', sans-serif;
  font-weight: lighter;
}

.title
{
  font-size: 3rem;
}

.text-container
{
  background-color: #D8D8D8;
}

.text
{
  padding: 1rem;
}

.image-fit
{
  max-width: 100%;
  height: auto;
}

.tall
{

}
