.navimg {
  height: 3em;
  width: auto;
}
.jumbotron {
  /*background image not showing*/
  background-image: url("../img/comp1.png");
  background-size: cover;
  height: 60rem;
}
.info {
  background-color: #CCC:
}
.triple {
  border: solid black 1px;
}
