.navimg {
  height: 3em;
  width: auto;
}
.jumbotron {
  background-image: url("../img/drive.jpg");
  background-size: cover;
  height: 50rem;
}
.info {
  background-color: #CCC:
}
.triple {
  border: solid black 1px;
}
